.footer {
  position: relative;

  margin-top: 126px;
  padding-top: 29.2rem;
  padding-bottom: 8.5rem;

  color: @dark-blue;

  &::before {
    position: absolute;
    content: '';
    z-index: 0;

    top: 0;
    // top: var(--top);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 720px;
    // height: var(--height);

    background-image: url('../img/svg/figures/footer-d.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.footer__bg-wrap {
  background-color: #2e2854;
}

.footer__container {
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.2rem;
}

.footer__text-wrap {
  align-self: flex-start;
  width: 46rem;
  min-height: 6.4rem;
}

.footer__title {
  color: #fff;
}

.footer__title {
  margin-bottom: 0.8rem;
  font-weight: @heavy;
  font-size: 3.2rem;
}

.footer__desc {
  font-size: 2rem;
}

.footer__btn {
}

.footer__social {
  width: 22.2rem;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__list-column-wrap {
  display: flex;
  justify-content: space-between;
  width: 98.6rem;
}

.footer__list-column {
  max-width: 22rem;
}

.footer__list {}

.footer__item {}

.footer__link {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  &-caption {
    margin-bottom: 2.5rem;
    font-weight: @medium;
    font-size: 2.4rem;
    color: #fff;
  }
}
