:root {
  --font-main: 'Futura PT', 'Arial', sans-serif;

  --color-first: #4f405f;
  --color-second: #5f546b;

  --color-blue: #90d4e7;
  --color-dark-blue: #938ebc;
  --color-green: #33b366;
  --color-light-green: #41d27d;
  --color-light-light-green: #f3fbf4;
  --color-dark-green: #1a7c42;
  --color-light-purple: #81758d;
  --color-dark-purple: #3c3664;

  --transition-main: 0.5s;
}

@font-main: var(--font-main);

@color-f: var(--color-first);
@color-s: var(--color-second);

@blue: var(--color-blue);
@dark-blue: var(--color-dark-blue);
@green: var(--color-green);
@light-green: var(--color-light-green);
@light-light-green: var(--color-light-light-green);
@dark-green: var(--color-dark-green);
@light-purple: var(--color-light-purple);
@dark-purple: var(--color-dark-purple);

@s: var(--transition-main);
