:root {
  --font-main: 'Futura PT', 'Arial', sans-serif;
  // --font-decor-first: 'BlasterIt', 'Arial', sans-serif;
  // --font-decor-second: 'PF DaVinci Script Pro', 'Times', serif;
  // --font-decor-third: 'Myriad Pro', 'Arial', sans-serif;

  --color-first: #4f405f;
  --color-second: #5f546b;
  --color-decor-first: #3c3664;

  // --color-white: #F0F7FF;
  // --color-brown: #291C22;
  // --color-red: #E13D3E;
  // --color-gold: #F5D087;

  --transition-main: 0.5s;
}

@font-main: var(--font-main);
// @font-d-f: var(--font-decor-first);
// @font-d-s: var(--font-decor-second);
// @font-d-t: var(--font-decor-third);

@color-f: var(--color-first);
@color-s: var(--color-second);
@color-d-f: var(--color-decor-first);

// @white: var(--color-white);
// @brown: var(--color-brown);
// @red: var(--color-red);
// @gold: var(--color-gold);
// @emerald: var(--color-emerald);
// @gray: var(--color-gray);
// @light-gray: var(--color-light-gray);
// @dark-gray: var(--color-dark-gray);

@s: var(--transition-main);
