.doctors-swiper {
  padding-top: 14rem;
  // padding-bottom: 14rem;
  padding-bottom: 6rem;
}

.doctors-swiper__container {
}

.doctors-swiper__text-wrap {
  margin-bottom: 8rem;
  text-align: center;
}

.doctors-swiper__caption {
  margin-bottom: 1.2rem;
}

.doctors-swiper__title {
}

.doctors-swiper__swiper-container {
  width: 132.5rem;
  // width: 140.5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.doctors-swiper__slide {
  &.swiper-slide-visible {
    .doctors-swiper__link {
      background-color: #fff;
      box-shadow: 2.1rem 2.8rem 5.4rem 0.5rem rgba(5, 30, 56, 0.05);
    }
  }

  // &.swiper-slide-prev {
  //   .doctors-swiper__link {
  //     box-shadow: none;
  //   }
  // }
}

.doctors-swiper__link {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  // width: 42rem;
  min-height: 28.7rem;
  padding-top: 14.8rem;
  .padding-inline(2rem);
  padding-bottom: 3rem;

  text-align: center;
  border-radius: 2.7rem;
  // background-color: #fff;
  // box-shadow: 2.1rem 2.8rem 5.4rem 0.5rem rgba(5, 30, 56, 0.05);

  // transition-property: box-shadow;
  // transition-duration: 0;
}

.doctors-swiper__img-wrap {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);

  width: 19.9rem;
  height: 19.9rem;

  border-radius: 50%;
  box-shadow: 1rem 2.7rem 2.7rem rgba(11, 24, 60, 0.07);
}

.doctors-swiper__img {
  .img-cover;
  border-radius: 50%;
}

.doctors-swiper__name {
  margin-bottom: 0.7rem;
  font-weight: @heavy;
  font-size: 2.2rem;
}

.doctors-swiper__desc {
}

.doctors-swiper__buttons-wrap {}

.doctors-swiper__button-prev,
.doctors-swiper__button-next {
  top: 39%;
}

.doctors-swiper__button-prev {}

.doctors-swiper__button-next {}

.doctors-swiper__figure {
  left: 50%;
  transform: translateX(6rem);
  &::before {
    top: 31.6rem;
    // left: 50%;
    // transform: translateX(10rem);
  }
}

@media (max-width: @tablet-width) {
  .doctors-swiper {
    padding-top: 10rem;
    padding-bottom: 3rem;
  }

  .doctors-swiper__container {
  }

  .doctors-swiper__text-wrap {
    margin-bottom: 3rem;
    text-align: left;
  }

  .doctors-swiper__caption {
    margin-bottom: 0.6rem;
  }

  .doctors-swiper__title {
  }

  .doctors-swiper__swiper-container {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .doctors-swiper__link {
    min-height: 24.8rem;
    padding-top: 11rem;
    // .padding-inline(2rem);
    padding-bottom: 2rem;
  }

  .doctors-swiper__img-wrap {
    top: -7rem;
    width: 15rem;
    height: 15rem;
  }

  .doctors-swiper__figure {
    display: none;
    // left: 50%;
    // transform: translateX(6rem);
    // &::before {
    //   top: 31.6rem;
    // }
  }

}
