.rehabs-swiper {
  padding-top: 107px;
  padding-bottom: 107px;
}

.rehabs-swiper__container {
}

.rehabs-swiper__text-wrap {
  margin-bottom: 81px;
}

.rehabs-swiper__caption {
  margin-bottom: 22px;
}

.rehabs-swiper__title {
}


.rehabs-swiper__buttons-wrap {
}

.rehabs-swiper__swiper-container {
}

.rehabs-swiper__slide {
}

.rehabs-swiper__link {
  width: 308px;
}

.rehabs-swiper__img-wrap {
  position: relative;
  height: 325px;
  margin: 0;
  margin-bottom: 33px;

  border-radius: 20px;
  box-shadow: 21px 28px 54px 5px rgba(5, 30, 56, 0.05);
}

.rehabs-swiper__img {
  .img-cover;
  border-radius: 20px;
}

.rehabs-swiper__category {
  box-sizing: border-box;

  position: absolute;
  top: 19px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 39px;

  color: #fff;
  font-weight: @medium;
  font-size: 16px;

  border-radius: 20px;
  box-shadow: 0 16px 16px rgba(66, 236, 126, 0.21);
  background-image: linear-gradient(to right, #1a944c 0%, #2bae60 100%);

  &-item {
    position: relative;
    padding-left: 25px;
    &::before {
      content: '';
      position: absolute;
      // top: 50%;
      top: 2px;
      left: 0;
      // transform: translateY(-50%);

      width: 15px;
      height: 15px;

      background-image: url('../img/svg/star-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.rehabs-swiper__detail-wrap {
  .padding-inline(10px);
}

.rehabs-swiper__subtitle {
  margin-bottom: 6px;
}

.rehabs-swiper__desc {
  margin-bottom: 13px;
}

.rehabs-swiper__price {

  &-val {
    font-weight: @heavy;
  }

  &-icon {
    font-weight: @heavy;
    font-size: 15px;
  }
}

.rehabs-swiper__button-prev {
}

.rehabs-swiper__button-next {
}
