// для слайдеров с тенью
.swiper-container-big-container {
  box-sizing: border-box;
  width: 138rem;
  .margin-inline(@a);
  overflow-x: hidden;
  overflow-y: initial;

  .swiper-container {
    overflow: initial;
    margin-left: 1rem;
  }
}

.swiper-container {
}

.swiper-wrapper {
}

.swiper-slide {
}

.swiper-buttons-wrap {
  position: relative;
  width: 165.4rem;
  .margin-inline(@a);
}

.swiper-button {
  width: 66px;
  height: 66px;
  box-shadow: 9px 11px 24px rgba(64, 35, 159, 0.09);
  background-color: #fff;
  border-radius: 50%;

  &::after {
    width: 35px;
    height: 16px;

    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.swiper-button-prev {
  // left: -165px;
  left: 0;
  &::after {
    background-image: url('../img/svg/arrow-left.svg');
  }
}

.swiper-button-next {
  // right: -165px;
  right: 0;
  &::after {
    background-image: url('../img/svg/arrow-right.svg');
  }
}
