.caption {
  text-transform: uppercase;
  font-weight: @medium;
  &--heavy {
    font-weight: @heavy;
  }
  &--large {
    font-size: 2rem;
  }
}

.title {
  font-weight: @heavy;
  font-size: 5rem;
  line-height: 5.4rem;
  &--large {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  &--small {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.subtitle {
  font-weight: @heavy;
  font-size: 2.4rem;
  // line-height: 3.3rem;
}

.desc {
  font-size: 1.9rem;
  &--large {
    font-size: 2.1rem;
  }
}

// @media (max-width: @tablet-width) {

//   .section-title {
//     font-size: 2.5rem;
//     line-height: 3rem;
//     &--small {
//       // font-size: 3.5rem;
//     }
//     &--big {
//       // font-size: 4rem;
//     }
//   }

//   .section-desc {
//     font-size: 1.3rem;
//     line-height: 1.6rem;
//   }

//   .DaVinci {
//     font-size: 3rem;
//   }
// }
