.additionally {
  padding-top: 12.2rem;
  padding-bottom: 12.2rem;
}

.additionally__container {
}

.additionally__text-wrap {
  margin-bottom: 6.7rem;
  text-align: center;
}

.additionally__caption {
  margin-bottom: 1.2rem;
}

.additionally__title {
}

.additionally__list {
  display: grid;
  grid-template-columns: repeat(3, 41.6rem);
  column-gap: 5.2rem;
  row-gap: 10.4rem;
}

.additionally__item {
  position: relative;
  padding-left: 8.5rem;
  // &::before {
  //   position: absolute;
  //   content: '';
  //   top: 0.4rem;
  //   left: 0.3rem;

  //   width: 5.8rem;
  //   height: 5.8rem;

  //   box-shadow: 0 1.6rem 1.6rem rgba(66, 236, 126, 0.21);
  //   border-radius: 2.9rem;
  //   background-image: linear-gradient(-140deg, #80c568 0%, #16c485 100%);
  // }
}

.additionally__item-icon {
  position: absolute;
  content: '';
  top: 0.4rem;
  left: 0.3rem;

  width: 5.8rem;
  height: 5.8rem;

  border-radius: 2.9rem;
  box-shadow: 0 1.6rem 1.6rem rgba(66, 236, 126, 0.21);
  background-image: linear-gradient(-140deg, #80c568 0%, #16c485 100%);

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.3rem;
    height: 1.7rem;

    background-image: url('../img/svg/tick-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.additionally__item-title {
  margin-bottom: 1.6rem;
}

.additionally__desc {}

.additionally__figure {
  &::before {
    top: -0.4rem;
    left: -34.5rem;
  }
}
