.b {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.b__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50.3rem;
}

.b__img-wrap {
  width: 69.3rem;
  height: 50.3rem;
}

.b__img {
  .img-cover;
  box-shadow: 1.9rem 2.5rem 4.9rem 0.8rem rgba(18, 15, 35, 0.07);
  border-radius: 5rem;
}

.b__figure-dots {
  &::before {
    right: -4.3rem;
    bottom: -3.9rem;
    width: 28.1rem;
    height: 24.2rem;
  }
}

.b__content-wrap {
  width: 51.3rem;
  // margin-top: 7rem;
}

.b__caption {
  margin-bottom: 2.2rem;
}

.b__title {
  margin-bottom: 3.1rem;
}

.b__desc {}

.b__btn-wrap {
  display: flex;
  // justify-content: space-between;
  margin-top: 4.5rem;
}

.b__btn-link {
  margin-right: 2.2rem;
}

.b__btn {}

.b__tel-form {}

.b__tel {}

@media (max-width: @tablet-width) {
  .b {
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
  }

  .b__wrap {
    flex-direction: column;
    height: auto;
  }

  .b__img-wrap {
    width: auto;
    height: 24.8rem;
    margin-bottom: 7rem;
  }

  .b__img {
    border-radius: 3.5rem;
  }

  .b__figure-dots {
    &::before {
      // right: -4.3rem;
      // bottom: -3.9rem;
      // width: 28.1rem;
      // height: 24.2rem;
    }
  }

  .b__content-wrap {
    width: 100%;
  }

  .b__caption {
    margin-bottom: 0.7rem;
  }

  .b__title {
    margin-bottom: 1.1rem;
  }

  .b__btn-wrap {
    flex-direction: column;
    margin-top: 3.7rem;
  }

  .b__btn-link {
    margin-right: 0;
  }

  .b__tel-form {
    margin-top: 1.6rem;
  }
}
