.goals {
  padding-top: 13.2rem;
  padding-bottom: 13.2rem;
}

.goals__figure {
  &::before {
    left: 11rem;
  }
}

.goals__text-wrap {
  margin-bottom: 7.2rem;
  text-align: center;
}

.goals__caption {
  margin-bottom: 1.2rem;
}

.goals__title {}

.goals__desc {}

.goals__list {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  gap: 3.8rem;
}

.goals__figure-dots {
  &::before {
    top: 15.3rem;
    // bottom: -6rem;
    left: -5.7rem;
  }
}

.goals__item {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  // width: 30.1rem;
  height: 35rem;
  padding-top: 3.2rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  padding-bottom: 3.8rem;

  // color: #fff;
  border-radius: 1.7rem;
  background-color: #fff;
  box-shadow: 2.1rem 2.8rem 5.4rem 0.5rem rgba(5, 30, 56, 0.05);

  transition: @s;

  &:hover {
    color: #fff;
    background-color: @dark-purple;
    box-shadow: 1.9rem 2.5rem 4.9rem 0.8rem rgba(13, 12, 21, 0.15);
    .goals__img {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      &--hide {
        opacity: 1;
        z-index: 1;
        visibility: visible;
      }
    }
  }
}

.goals__item-title {
  margin-bottom: 3.8rem;
  padding-right: 1rem;
  // font-weight: @heavy;
  // font-size: 2.4rem;
  line-height: 3.3rem;
}

.goals__img-wrap {
  z-index: 0;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-left: 1.6rem;

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: -1.4rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.goals__item {
  &:nth-child(2),
  &:nth-child(3) {
    .goals__img-wrap::before {
      width: 9.6rem;
      height: 7.7rem;
    }
  }

  &:nth-child(1) {
    .goals__img-wrap::before {
      top: 0.4rem;
      left: -1.6rem;
      width: 9rem;
      height: 7.2rem;
      background-image: url('../img/svg/icons-bg/b-r-blue.svg');
    }
  }
  &:nth-child(2) {
    .goals__img-wrap {
      width: 6.7rem;
      height: 5.8rem;
    }
    .goals__img-wrap::before {
      background-image: url('../img/svg/icons-bg/t-r-green.svg');
    }
    .goals__img {
      margin-top: 1rem;
    }
  }
  &:nth-child(3) {
    .goals__img-wrap::before {
      background-image: url('../img/svg/icons-bg/b-l-blue-1.svg');
    }
    .goals__img {
      margin-top: 1rem;
      margin-left: 0.5rem;
    }
  }
  &:nth-child(4) {
    .goals__img-wrap::before {
      width: 11.2rem;
      height: 7.9rem;
      background-image: url('../img/svg/icons-bg/t-l-light-green-2.svg');
    }
    .goals__img {
      margin-top: 1.8rem;
      margin-left: 1.4rem;
    }
  }
}

.goals__img {
  position: relative;
  .img-cover;
  transition: @s;

  &--hide {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

.goals__item-desc {
  margin-top: auto;

  font-weight: @medium;
  font-size: 1.9rem;
  line-height: 2rem;
}

@media (max-width: @tablet-width) {

  .goals {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .goals__figure {
    &::before {
      // left: 11rem;
    }
  }

  .goals__text-wrap {
    margin-bottom: 3.5rem;
  }

  .goals__caption {
    margin-bottom: 0.5rem;
  }

  .goals__list {
    grid-template-columns: repeat(auto-fit, minmax(16.3rem, 1fr));
    gap: 1.6rem;
  }

  .goals__figure-dots {
    &::before {
      // top: 15.3rem;
      // left: -5.7rem;
    }
  }

  .goals__item {
    height: 25.4rem;
    padding-top: 1.6rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 1.6rem;
  }

  .goals__item-title {
    min-height: 6.3rem;
    margin-bottom: 1rem;
    padding-right: 0;
    font-size: 1.6rem;
    line-height: initial;
  }

  .goals__img-wrap {
    width: 4rem;
    height: 4rem;
    margin-left: 1.2rem;

    &::before {
      left: -1.6rem;
    }
  }

  .goals__item {
    &:nth-child(2),
    &:nth-child(3) {
      .goals__img-wrap::before {
        width: 6.4rem;
        height: 5.1rem;
      }
    }

    &:nth-child(1) {
      .goals__img-wrap::before {
        width: 5.9rem;
        height: 4.8rem;
      }
    }
    &:nth-child(2) {
      .goals__img-wrap {
        width: 4.5rem;
        height: 4rem;
      }
      .goal__img-wrap {
        margin-top: 0.5rem;
      }
    }
    &:nth-child(4) {
      .goals__img-wrap::before {
        width: 6.8rem;
        height: 5.3rem;
        background-image: url('../img/svg/icons-bg/b-l-blue-1.svg');
      }
      .goals__img {
        margin-top: 0;
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      .goals__img-wrap::before {
        width: 7.6rem;
        height: 5.3rem;
        background-image: url('../img/svg/icons-bg/t-l-light-green-2.svg');
      }
      .goals__img {
        margin-left: 1rem;
      }
    }
  }

  .goals__item-desc {
    font-size: 1.4rem;
    line-height: initial;
  }
}
