.main-info {
  padding-top: 27.5rem;
  padding-bottom: 16.4rem;
}

.main-info__wrap {
  width: 50%;
  &--quarter {
    width: 25%;
  }
  &--third {
    width: 33%;
  }
  &--two-half {
    width: 39%;
  }
}

.main-info__caption {
  margin-bottom: 2rem;
}

.main-info__title {
  margin-bottom: 3.8rem;
}

.main-info__desc {
  margin-bottom: 3.8rem;
}

.main-info__btn {
  margin-top: 5.7rem;
}

.main-info__figure {
  &::before {
    top: -1.6rem;
    left: -12.4rem;
  }
}
