.main-info {
  padding-top: 275px;
  padding-bottom: 294px;
}

.main-info__wrap {
  width: 50%;
  &--quarter {
    width: 25%;
  }
  &--third {
    width: 33%;
  }
  &--two-half {
    width: 39%;
  }
}

.main-info__caption {
  margin-bottom: 20px;
}

.main-info__title {
  margin-bottom: 38px;
}

.main-info__desc {
  margin-bottom: 38px;
}

.main-info__btn {
  margin-top: 57px;
}

.main-info__figure-1 {
  &::before {
    top: -16px;
    left: -124px;
  }
}
