.methods {
  padding-top: 14.1rem;
  padding-bottom: 14.1rem;
}

.methods__wrap {
  display: flex;
  justify-content: space-between;
}

.methods__content-wrap {
  width: 34rem;
}

.methods__caption {
  margin-bottom: 2.6rem;
}

.methods__title {
  margin-bottom: 3.3rem;
}

.methods__desc {}

.methods__btn {
  margin-top: 4.6rem;
}

.methods__list {
  display: grid;
  grid-template-columns: repeat(2, 36rem);
  column-gap: 7.4rem;
  row-gap: 8.4rem;

  counter-reset: methodsItem;
}

.methods__item {
  position: relative;
  padding-top: 5.3rem;

  &::before {
    counter-increment: methodsItem;
    content: counter(methodsItem, decimal-leading-zero);

    position: absolute;
    top: -0.4rem;
    left: 0.4rem;

    font-weight: @heavy;
    font-size: 3.5rem;
  }

  &:nth-child(1)::before,
  &:nth-child(4)::before {
    color: @blue;
  }

  &:nth-child(2)::before {
    color: @green;
  }

  &:nth-child(3)::before {
    color: @light-green;
  }
}

.methods__item-title {
  margin-bottom: 2.1rem;
}

.methods__item-desc {}

.methods__figure {
  &::before {
    top: -19.5rem;
    left: -46rem;
  }
}
