.tariffs {
  padding-top: 13.8rem;
  padding-bottom: 13.8rem;
}

.tariffs__figure-dots {
  &::before {
    top: 3.6rem;
    right: -11.5rem;
    width: 23rem;
    height: 22rem;
    border-radius: 50%;
  }
}

.tariffs__text-wrap {
  // margin-bottom: 9.2rem;
  margin-bottom: 6.9rem;
  text-align: center;
}

.tarrifs__caption {
  margin-bottom: 1.2rem;
}

.tarrifs__title {}

.tariffs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 106.5rem;
  .margin-inline(@a);
}

.tariffs__item {
  box-sizing: border-box;

  width: 33.7rem;
  min-height: 39.3rem;
  padding-top: 3.8rem;
  padding-bottom: 4.2rem;

  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 2.4rem 1.9rem 5.1rem 0.8rem rgba(18, 15, 35, 0.06);

  &:first-child {
    border-radius: 2rem 0 0 2rem;
  }

  &:last-child {
    border-radius: 0 2rem 2rem 0;
  }

  &--middle {
    // transform: scaleX(1.16) scaleY(1.12);
    // transform: scaleY(1.12);
    height: 44rem;
    width: 39rem;
    padding-top: 7rem;

    color: #fff;
    background-color: @dark-purple;
    background-image: url('../img/tariffs/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .tariffs__price,
    .tariffs__price-desc {
      color: currentColor;
    }
  }
}

.tariffs__subtitle {
  margin-bottom: 2.3rem;
}

.tariffs__price {
  display: inline-flex;
  font-weight: @heavy;
  font-size: 5rem;
  color: @green;

  &-icon {
    margin-top: 0.2rem;
    margin-left: 0.8rem;
    font-size: 2.7rem;
  }
}

.tariffs__price-desc {
  color: @green;
  font-weight: @medium;
  font-size: 2rem;
}

.tariffs__include-list {
  margin-top: 3.3rem;
}

.tariffs__include-item {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}
